<header class="bg-dark-blue text-white p-4">
  <nav class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-xl font-bold">PresensiApp</a>
    <div>
      <a href="/presensi" class="ml-4 hover:font-bold">Home</a>
      <a href="/anotherpage" class="ml-4 hover:font-bold">Another Page</a>
    </div>
  </nav>
</header>
