<header class="bg-dark-blue text-white p-4 sticky top-0 z-50">
  <nav class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-xl font-bold">PresensiApp</a>
    <div class="flex space-x-4">
      <a href="/" class="hover:text-light-blue">Home</a>
      <a href="/reasons" class="hover:text-light-blue">Reasons</a>
    </div>
    <div class="flex items-center space-x-4">
      <button class="text-white hover:text-gray-400">Notification</button>
      <img
        src="/img/profil-pic.png"
        alt="Profile"
        class="w-8 h-8 rounded-full"
      />
    </div>
  </nav>
</header>
