<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Provinsi</title>
  </head>
  <body>
    <h1>Provinsi</h1>
    <% provinsi.forEach(function (data) { %>
    <li><%= data %></li>
    <% }) %>
    <form action="/provinsi" method="POST">
      <input type="text" name="provinsi" placeholder="Provinsi" />
      <button type="submit">Add Provinsi</button>
    </form>
  </body>
</html>
